.card {
  width: 300px;
  margin: 20px auto;
  padding: 20px 0 0;
  border: 2px solid #777777;
  border-radius: 10px;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Arial, sans-serif;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(5px);
  box-shadow: inset 0 6px 12px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.profile-info {
  text-align: center;
  margin-bottom: 20px;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0 auto 20px;
  object-fit: cover;
  background-color: #f3f3f3;
}

.name {
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 10px;
  color: #333;
}

.tag {
  font-size: 14px;
  color: #777;
  margin: 0 0 5px;
}

.location {
  font-size: 14px;
  color: #999;
}

.stats {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  border-top: 2px solid #494848;
  background-color: #e2dfdf;
  border-radius: 0 0 10px 10px;
}

.stat-item {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stat-item:not(:last-child) {
  border-right: 2px solid #494848;
}

.stat-item span {
  display: block;
}

.stat-label {
  font-size: 16px;
  color: #2e2e2e;
}

.stat-value {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}
