/* Profile.module.css */
.card {
  width: 300px;
  margin: 20px auto;
  padding: 20px 0 0;
  border: 1px solid #777777;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(3, 3, 3, 0.1);
  background-color: #fff;
  font-family: Arial, sans-serif;
}

.profile-info {
  text-align: center;
  margin-bottom: 20px;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0 auto 20px;
  object-fit: cover;
  background-color: #f3f3f3;
}

.name {
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 10px;
  color: #333;
}

.tag {
  font-size: 14px;
  color: #777;
  margin: 0 0 5px;
}

.location {
  font-size: 14px;
  color: #999;
}

.stats {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 2px solid #494848;
  padding: 20px 0;
  background-color: #e2dfdf;
  border-radius: 0 0 10px 10px;
}

.stat-item {
  text-align: center;
}

.stat-item span {
  display: block;
}

.stat-label {
  font-size: 12px;
  color: #777;
}

.stat-value {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}
